.reservation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .reservation-container form {
    display: flex;
    flex-direction: column;
    width: 40%;
    font-family: Karla;
    font-size: 10pt;
  }
  
  .reservation-container label {
    margin-top: 15px;
    font-size: 15pt;
  }
  .reservation-container h1 {
    color: black;
  }
  .reservation-container input {
    font-size: 13pt;
    font-family: Karla;
  }
  .reservation-container input:focus {
    background-color: #495e57;
    color: white;
  }
  .reservation-container select {
    font-size: 13pt;
    font-family: Karla;
  }
  .reservation-container select:focus {
    cursor: pointer;
    font-family: Karla;
    background-color: #495e57;
    color: white;
    font-size: 13pt;
  }
  
  .reservation-container button {
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    height: 30px;
    width: 50%;
    align-self: center;
    background-color: #f4ce14;
    font-weight: bold;
    cursor: pointer;
  }
  .reservation-container button:hover {
    background-color: #ee9972;
    color: white;
  }
  .lds-spinner {
    color: yellow;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin-top: 50px;
  }
  .lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
  }
  .lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #f1ee15;
  }
  .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .check-img {
    width: 30px;
  }
  .reservation-confirm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .alert {
    font-size: 12pt;
    font-weight: bolder;
  }
  
  @media (max-width: 850px) {
    .reservation-container form {
      width: 80%;
    }
  }
  @media (max-width: 650px) {
    .reservation-container form {
      width: 100%;
    }
    .reservation-confirm {
      align-items: flex-start;
    }
  }